
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar {
    background-color: maroon;
    color: white;
    display: flex;
    justify-content: left;
    height: 50px;
    padding: 20px 10px;
    align-items: center;
}
.icon{
    height: 40px;
}





